<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container {
            width: 70vh;
            height: 70vh;
        }
        img {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Details</h1>
        <div>
            <img src="<%= findPost.link %>" alt="<%= findPost.address %>" width="<%= imgSize %> ">
            <h4>List Type: <%= findPost.listType %></h4>
            <h4>Uploader: <%= findPost.name %></h4>
            <h4>Address: <%= findPost.address %></h4>
            <h4>Description: <%= findPost.description %></h4>
        </div>
        <a href="/">Back</a>
    </div>
</body>
</html>